body {
    font-family: Georgia, serif !important;
    font-size: 18px;

    background: #fefae0 !important;
}

header, main, footer {
    background: inherit;
}

header {
    border-bottom: 3px solid #5F3713;
}

footer {
    background: #AF997A;
}
