.blog-container-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* debug */
    border-color: blue;
}
.blog-row-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    /* debug */
    border-color: green;
}

.blog-entry {
    /* debug */
    /* text-align: center; */
    background-color: red;
    /* min-width: 5rem; */
    /* min-height: 2rem; */
}

.blog-entry > img {
    max-width: 20rem;
}

.blog-entry-title {

    /* debug */
    text-align: center;
}
